echo Executing Server Config...
lanmode 1
rcon_password change-password
rcon 0
maxplayers 100
port 7788
hostname Indian Ocean Roleplay - Open Source Server
gamemode0 ior 1
plugins crashdetect iorp_core samp_logger mysql PawnPlus pawn-memory YSF streamer sscanf GPS pawncmd pawnraknet samp-precise-timers
# plugins crashdetect.so iorp_core.so samp_logger.so mysql.so PawnPlus.so pawn-memory.so YSF.so streamer.so sscanf.so GPS.so pawncmd.so pawnraknet.so samp-precise-timers.so
announce 1
query 1
chatlogging 0
weburl iorp.in
onfoot_rate 40
incar_rate 40
weapon_rate 40
stream_distance 300.0
stream_rate 1000
maxnpc 50
logtimeformat [%H:%M:%S]
language English
worldtime 05:30
ackslimit 5000
minconnectiontime 1000
conncookies 0